@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#general">General</a></li>
    <li><a id="navposts" data-toggle="tab" href="#posts">Posts</a></li>
    <li><a data-toggle="tab" href="#comments">Comments</a></li>
    <li><a data-toggle="tab" href="#liked_comments">Liked Comments</a></li>
    <li><a data-toggle="tab" href="#rated_posts">Rated Posts</a></li>
    <li><a id="navsettings" data-toggle="tab" href="#settings">Settings</a></li>
</ul>

<div class="tab-content">
    <div id="general" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Some content.</p>
    </div>
    <div id="posts" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="comments" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="liked_comments" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="rated_posts" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="settings" class="tab-pane fade">
        <div id="settingsContent"></div>
    </div>
</div>

@*<script src=""></script>*@

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script>
        $("#navsettings").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Manage/GetAccountSettingsPartial",
                success: function (viewHtml) {
                    $("#settingsContent").html(viewHtml)
                }
            });
        })
    </script>
}

