@using Microsoft.AspNet.Identity


<ul class="nav nav-tabs">
    <li class="active"><a id="navgeneral" data-toggle="tab" href="#general">General</a></li>
    <li><a id="navposts" data-toggle="tab" href="#posts">Posts</a></li>
    <li><a data-toggle="tab" id="navcomments" href="#comments">Comments</a></li>
    <li><a data-toggle="tab" id="navlikedcomments" href="#likedcomments">Liked Comments</a></li>
    <li><a data-toggle="tab" id="navratedposts" href="#ratedposts">Rated Posts</a></li>
    <li><a id="navsettings" data-toggle="tab" href="#settings">Settings</a></li>
</ul>

<div class="tab-content">
    <div id="general" class="tab-pane fade in active">
    </div>
    <div id="posts" class="tab-pane fade">
    </div>
    <div id="comments" class="tab-pane fade">
    </div>
    <div id="likedcomments" class="tab-pane fade">
    </div>
    <div id="ratedposts" class="tab-pane fade">
    </div>
    <div id="settings" class="tab-pane fade">
    </div>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jquery")*@
    @*<script src="~/Scripts/bootstrap-editable.js"></script>
        <link rel="~/Content/bootstrap-editable.css"/>*@
    @*<script src="~/Scripts/bootstrap-editable.min.js"></script>*@
    <script>
        $("#navgeneral").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Manage/GetAccountGeneralInfoPartial",
                success: function (viewHtml) {
                    $("#general").html(viewHtml);
                }
            });
        })
    </script>

    <script>
        $("#navsettings").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Manage/GetAccountSettingsPartial",
                success: function (viewHtml) {
                    $("#settings").html(viewHtml);
                }
            });
        })
    </script>

    <script>
        $("#navposts").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Post/GetUserPosts?name=@Context.User.Identity.Name",
                success: function (viewHtml) {
                    $("#posts").html(viewHtml);
                }
            });
        })
    </script>

    <script>
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
    </script>
    
    <script>
        $(document).ready(function() {

        })
    </script>
}

