@model Prikhodko.NewsWebsite.Service.Contracts.Models.UserViewModel

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AvgRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRate)
        </dd>

    </dl>
</div>
