@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-10">
        One of three columns
    </div>
    <div class="col-sm-2">
        @Html.Action("GetUserBar", "Users")
    </div>
</div>

