@model Prikhodko.NewsWebsite.Service.Contracts.Models.CommentServiceModel

<div class="comment-css">
    <div class="row container-fluid">
        <div class="col-md-11">
            <div>
                <a href=@Url.Action("/Account/Details" + @Model.AuthorId)>@Model.AuthorName</a>
            </div>
            <div>
                @Model.Content
            </div>
        </div>
        <div class="col=md-1">
            <div>
                <button id="upvote">+</button>
                <span>@Model.Rating</span>
                <button id="downvote">-</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}
